/*************************************************************
 * styles.css
 *
 * Stylesheet for the LITW demo study.
 *
 * Author: Trevor Croxson
 *       : Nigini A. Oliveira
 * 
 * Last Modified: February 5, 2017
 * 
 * © Copyright 2017 LabintheWild.
 * For questions about this file and permission to use
 * the code, contact us at info@labinthewild.org
 *************************************************************/

.instructions-stim-container {
	text-align: center;
}

.instructions-stim-container img {
	height: 150px;
	margin-top: 35px;
	margin-bottom: 35px;
}

#trials {
	text-align: center;
} 

#trials img {
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	cursor: pointer;
} 

#break {
	text-align: center;
}

#break img {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.prediction-img-container {
	text-align: center;
}

.prediction-img {
	margin-bottom: 50px;
	display: inline;
	height: 200px;
}

#progress-header {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
}

.citations {
	margin-top: 30px;
	margin-bottom: 30px;
}

.grid {
  width: 1170px;
  margin:0 auto;
}

.list {
  height: 100%;
  position: static;
  display: block;
  list-style-type:none;
  padding-left:0;
}

.card {
  transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;

  float: left;

  position: relative;
  /*top: 450px;*/
  left: -250px;
  bottom: 0;
  margin: 30px 0 15px 15px;
}

.card.ani0 {
    left: 20px;
}

.card.ani1 {
    left: 20px;
}

.card.ani2 {
    left: 20px;
}


.flipcard-section {
  width: 242px;
  height: 363px; 
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.flipcard {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.flipcard div {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcard .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.flipcard.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.likert_box {
  /* display: inline;
  width: 50px;
  text-align:center;
  vertical-align: top; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.likert_response {
  display: inline-block;
  width: 110px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}



/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 800px;
  padding-right: 0px;
  padding-left: 0px;
}

.container img {
  opacity: .5;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  bottom: 20%;
  position: absolute;
  width: 100%;
  font-size: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Visualization results */
.text {
  fill: black;
}

#result-future-question svg {
  display: block;
  margin: auto;
}