<script>
    $('.flipcard').on("click", function() {
        $('.flipcard').toggleClass('flipped');
    })
</script>

<h2 class='bolded-blue' data-i18n="card-header"></h2>

<div>
    <div style="text-align: center">
        <section class="flipcard-section" style="margin:auto">
            <div class="flipcard">
                <div class='front'>
                    <img src="img/stim-img/bffs.png" style="width: 242px; height: 363px; border-radius: 20px;"/>
                </div>
                <div class='back'>
                    <img src="img/stim-img/bffs_description.png" style="width: 242px; height: 363px; border-radius: 20px;" />
                </div>
            </div>
        </section>
    </div>
    <br>
    <div>
        <textarea id='card-1-textarea' style="padding: 15px;
            font-size: 14px;
            font-family: Optima, Arial, sans-serif;
            width: 560px;
            height: 140px;
            color: #999;
            display: block;
            margin: 0 auto;">
        </textarea>
    </div>    

    <br>
    <h3 data-i18n="litw-card1-question1"></h3>
    <div id="litw-card1-question1">
        <!-- <h4 data-i18n="litw-futuresurvey-question1-2"></h4> -->

        <div class="likert_box">
            <div class="likert_response">
                <input type='radio' name='likert4' id='likert4_1' value='1'/>
                <br>
                <label for='likert4_1' data-i18n="litw-card1-answer1-1"></label>
            </div>

            <div class="likert_response">
                <input type='radio' name='likert4' id='likert4_2' value='2'/>
                <br>
                <label for='likert4_2' data-i18n="litw-card1-answer1-2"></label>
            </div>

            <div class="likert_response">
                <input type='radio' name='likert4' id='likert4_3' value='3'/>
                <br>
                <label for='likert4_3' data-i18n="litw-card1-answer1-3"></label>
            </div>

            <div class="likert_response">
                <input type='radio' name='likert4' id='likert4_4' value='4'/>
                <br>
                <label for='likert4_4' data-i18n="litw-card1-answer1-4"></label>
            </div>

            <div class="likert_response">
                <input type='radio' name='likert4' id='likert4_5' value='5'/>
                <br>
                <label for='likert4_5' data-i18n="litw-card1-answer1-5"></label>
            </div>
        </div>
    </div>

</div>