<script>
    $('.flipcard').on("click", function() {
        $('.flipcard').toggleClass('flipped');
    })
    var paragraph = document.getElementById("cardHeader2");
    var text = document.createTextNode("Here is your " + cardWordList[cardCounter] + " card");
    paragraph.appendChild(text);
</script>

<h2 class='bolded-blue' id="cardHeader2"></h2>
<p data-i18n="card-header-2"><strong>Click on the card below</strong> to see what the card has in store for you. Then use the box below to write down your thoughts. Remember, the tarot cards are designed to guide your thoughts and help you reflect on the future of technology.</p>

<div>
    <div style="text-align: center">
        <section class="flipcard-section" style="margin:auto">
            <div class="flipcard">
                <div class='front'>
                    <img src="img/stim-img/catalyst.png" style="width: 242px; height: 363px; border-radius: 20px;"/>
                </div>
                <div class='back'>
                    <img src="img/stim-img/catalyst_description.png" style="width: 242px; height: 363px; border-radius: 10px;" />
                </div>
            </div>
        </section>
    </div>
    <br>
    <div>
        <textarea id='card-2-textarea' style="padding: 15px;
	font-size: 14px;
	font-family: Optima, Arial, sans-serif;
	width: 560px;
	height: 140px;
	color: #999;
	display: block;
	margin: 0 auto;"></textarea>
    </div>
</div>

<br/>

<form class="bottom-warning" id="consent-form">
	<input type="checkbox" class="agree-to-continue" id="card2-agree-to-continue" />
    <label class="bolded-blue" for="card2-agree-to-continue" data-i18n='litw-card-consent'>Are you sure you finished this Tarot card?</label>
</form>