<script>
    $('.flipcard').on("click", function() {
        $('.flipcard').toggleClass('flipped');
    })
</script>

<h2 class='bolded-blue' data-i18n="card-header"></h2>

<div>
    <div style="text-align: center">
        <section class="flipcard-section" style="margin:auto">
            <div class="flipcard">
                <div class='front'>
                    <img src="../img/stim-img/catalyst.png" style="width: 242px; height: 363px; border-radius: 20px;"/>
                </div>
                <div class='back'>
                    <img src="../img/stim-img/catalyst_description.png" style="width: 242px; height: 363px; border-radius: 10px;" />
                </div>
            </div>
        </section>
    </div>
    <br>
    <div>
        <textarea id='card-2-textarea' style="padding: 15px;
	font-size: 14px;
	font-family: Optima, Arial, sans-serif;
	width: 560px;
	height: 140px;
	color: #999;
	display: block;
	margin: 0 auto;"></textarea>
    </div>
</div>