<h2 class="bolded-blue" data-i18n="litw-futuresurvey-header"></h2>
<div id="questions">
    <h3 data-i18n="litw-futuresurvey-question1"></h3>
    <div id="question1-1">
        <!-- <h4 data-i18n="litw-futuresurvey-question1-1"></h4> -->
        <input type='radio' name='likert1' id='likert1_1' value='1'/>
        <label for='likert1_1' data-i18n="litw-futuresurvey-answer1-1"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_2' value='2'/>
        <label for='likert1_2' data-i18n="litw-futuresurvey-answer1-2"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_3' value='3'/>
        <label for='likert1_3' data-i18n="litw-futuresurvey-answer1-3"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_4' value='4'/>
        <label for='likert1_4' data-i18n="litw-futuresurvey-answer1-4"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_5' value='5'/>
        <label for='likert1_5' data-i18n="litw-futuresurvey-answer1-5"></label>
        <br>
    </div>
    <h3 data-i18n="litw-futuresurvey-question2"></h3>
    <div id="question1-2">
        <!-- <h4 data-i18n="litw-futuresurvey-question1-2"></h4> -->
        <input type='radio' name='likert2' id='likert2_1' value='1'/>
        <label for='likert2_1' data-i18n="litw-futuresurvey-answer2-1"></label>
        <br>
        <input type='radio' name='likert2' id='likert2_2' value='2'/>
        <label for='likert2_2' data-i18n="litw-futuresurvey-answer2-2"></label>
        <br>
        <input type='radio' name='likert2' id='likert2_3' value='3'/>
        <label for='likert2_3' data-i18n="litw-futuresurvey-answer2-3"></label>
        <br>
        <input type='radio' name='likert2' id='likert2_4' value='4'/>
        <label for='likert2_4' data-i18n="litw-futuresurvey-answer2-4"></label>
        <br>
        <input type='radio' name='likert2' id='likert2_5' value='5'/>
        <label for='likert2_5' data-i18n="litw-futuresurvey-answer2-5"></label>
        <br>
    </div>

    
    <h3 data-i18n="litw-futuresurvey-question3"></h3>
    <div id="question1-3">
        <!-- <h4 data-i18n="litw-futuresurvey-question1-3"></h4> -->
        <input type='radio' name='likert3' id='likert3_1' value='1'/>
        <label for='likert3_1' data-i18n="litw-futuresurvey-answer3-1"></label>
        <input type='radio' name='likert3' id='likert3_2' value='2'/>
        <label for='likert3_2' data-i18n="litw-futuresurvey-answer3-2"></label>
        <input type='radio' name='likert3' id='likert3_3' value='3'/>
        <label for='likert3_3' data-i18n="litw-futuresurvey-answer3-3"></label>
        <input type='radio' name='likert3' id='likert3_4' value='4'/>
        <label for='likert3_4' data-i18n="litw-futuresurvey-answer3-4"></label>
        <input type='radio' name='likert3' id='likert3_5' value='5'/>
        <label for='likert3_5' data-i18n="litw-futuresurvey-answer3-5"></label>
        <br>
    </div>

    <div>
        <label><h3 data-i18n="litw-futuresurvey-question4"></h3></label>
        <select name="future-years-available" id="future-years-available">
            {{#times 10}} 
                <option value="future-years-{{this}}">{{this}} years</option>
            {{/times}}
            <option value="11-20">11-20 years</option>
            <option value="21-30">21-30 years</option>
            <option value="31-40">31-40 years</option>
            <option value="41-50">41-50 years</option>
            <option value="more-than-51">More than 51</option>
        </select>
    </div>
    
    <h3 data-i18n="litw-futuresurvey-question5"></h3>
        <div id="question1-4">
            <!-- <h4 data-i18n="litw-futuresurvey-question1-4"></h4> -->
            <div class="likert_box">
                <div class="likert_response">
                    <input type='radio' name='likert4' id='likert4_1' value='1'/>
                    <br/>
                    <label for='likert4_1' data-i18n="litw-futuresurvey-answer4-1"></label>
                </div>
                <div class="likert_response">
                    <input type='radio' name='likert4' id='likert4_2' value='2'/>
                    <br/>
                    <label for='likert4_1' data-i18n="litw-futuresurvey-answer4-2"></label>
                </div>
                <div class="likert_response">
                    <input type='radio' name='likert4' id='likert4_3' value='3'/>
                    <br/>
                    <label for='likert4_1' data-i18n="litw-futuresurvey-answer4-3"></label>
                </div>
                <div class="likert_response">
                    <input type='radio' name='likert4' id='likert4_4' value='4'/>
                    <br/>
                    <label for='likert4_1' data-i18n="litw-futuresurvey-answer4-4"></label>
                </div>
                <div class="likert_response">
                    <input type='radio' name='likert4' id='likert4_5' value='5'/>
                    <br/>
                    <label for='likert4_1' data-i18n="litw-futuresurvey-answer4-5"></label>
                </div>
            </div>
        </div>
    </div>
</div>
