<script>
    $(document).ready(function(){
        $(".card").each(function(e) {

        setTimeout(function() {
            $(".card").eq(e).attr("class", "card ani" + e % 3);
            }, e * 150)        
        });
    })
</script>

<h2 class="bolded-blue" data-i18n='instruction-header'></h2>

<span>
    <p data-i18n="cards-prompt"></p>
    <p><strong data-i18n="litw-instruction-next-step"></strong></p>
</span>


<!-- Create a thing -->
<div class="container">
    <div class="col-md-12 px-0" style="text-align:center">
        <img class="img-responsive" style="border-radius: 20px;" src="img/stim-img/full.png"/>
        <figcaption>Tarot Cards of Tech by the Artefact Group. <a href="http://tarotcardsoftech.artefactgroup.com/" target="_blank">[Link]</a></figcaption>
    </div>
</div>
<br>