<h2 class="bolded-blue" data-i18n="litw-motivationsurvey-header"></h2>
<div id="questions">
    <h3 data-i18n="litw-motivationsurvey-question1"></h3>
    <div id="question1-1">
        <h4 data-i18n="litw-motivationsurvey-question1-1"></h4>
        <input type='radio' name='likert1' id='likert1_1' value='1'/>
        <label for='likert1_1' data-i18n="litw-motivationsurvey-answer1-1"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_2' value='2'/>
        <label for='likert1_2' data-i18n="litw-motivationsurvey-answer1-2"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_3' value='3'/>
        <label for='likert1_3' data-i18n="litw-motivationsurvey-answer1-3"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_4' value='4'/>
        <label for='likert1_4' data-i18n="litw-motivationsurvey-answer1-4"></label>
        <br>
        <input type='radio' name='likert1' id='likert1_5' value='5'/>
        <label for='likert1_5' data-i18n="litw-motivationsurvey-answer1-5"></label>
        <br>
    </div>
    <h3 data-i18n="litw-motivationsurvey-question2"></h3>
    <div id="question1-2">
        <!-- <h4 data-i18n="litw-motivationsurvey-question1-2"></h4> -->
        <input type='radio' name='likert2' id='likert2_1' value='1'/>
        <label for='likert2_1' data-i18n="litw-motivationsurvey-answer2-1"></label>
        <input type='radio' name='likert2' id='likert2_2' value='2'/>
        <label for='likert2_2' data-i18n="litw-motivationsurvey-answer2-2"></label>
        <input type='radio' name='likert2' id='likert2_3' value='3'/>
        <label for='likert2_3' data-i18n="litw-motivationsurvey-answer2-3"></label>
        <input type='radio' name='likert2' id='likert2_4' value='4'/>
        <label for='likert2_4' data-i18n="litw-motivationsurvey-answer2-4"></label>
        <input type='radio' name='likert2' id='likert2_5' value='5'/>
        <label for='likert2_5' data-i18n="litw-motivationsurvey-answer2-5"></label>
        <br>
    </div>

    
    <h3 data-i18n="litw-motivationsurvey-question3"></h3>
    <div id="question1-3">
        <!-- <h4 data-i18n="litw-motivationsurvey-question1-3"></h4> -->
        <input type='radio' name='likert3' id='likert3_1' value='1'/>
        <label for='likert3_1' data-i18n="litw-motivationsurvey-answer3-1"></label>
        <input type='radio' name='likert3' id='likert3_2' value='2'/>
        <label for='likert3_2' data-i18n="litw-motivationsurvey-answer3-2"></label>
        <input type='radio' name='likert3' id='likert3_3' value='3'/>
        <label for='likert3_3' data-i18n="litw-motivationsurvey-answer3-3"></label>
        <input type='radio' name='likert3' id='likert3_4' value='4'/>
        <label for='likert3_4' data-i18n="litw-motivationsurvey-answer3-4"></label>
        <input type='radio' name='likert3' id='likert3_5' value='5'/>
        <label for='likert3_5' data-i18n="litw-motivationsurvey-answer3-5"></label>
        <br>
    </div>
</div>
