<h2 class="h3 bolded-blue">
    <span data-i18n="litw-motivationsurvey-title"></span>
</h2>

<div id="motivation-questions">
    <h3 data-i18n="litw-motivationsurvey-question1"></h3>
    <div id="question1-1" class="survey-question">
        <h4 data-i18n="litw-motivationsurvey-question1-1"></h4>

        <ul>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert1' id='likert1_1' value='1'/>
                    <label for='likert1_1' data-i18n="litw-motivationsurvey-answer1-1"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert1' id='likert1_2' value='2'/>
                    <label for='likert1_2' data-i18n="litw-motivationsurvey-answer1-2"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert1' id='likert1_3' value='3'/>
                    <label for='likert1_3' data-i18n="litw-motivationsurvey-answer1-3"></label>
                </div>
            </li>
            <li>   
                <div class="likert_response">
                    <input type='radio' name='likert1' id='likert1_4' value='4'/>
                    <label for='likert1_4' data-i18n="litw-motivationsurvey-answer1-4"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert1' id='likert1_5' value='5'/>
                    <label for='likert1_5' data-i18n="litw-motivationsurvey-answer1-5"></label>
                </div>
            </li>
            <li>   
                <div class="likert_response">
                    <input type='radio' name='likert1' id='likert1_6' value='6'/>
                    <label for='likert1_6' data-i18n="litw-motivationsurvey-answer1-6"></label>
                </div>
            </li>
        </ul>
    </div>
    <h3 data-i18n="litw-motivationsurvey-question2"></h3>
    <div id="question1-2" class="survey-question">
        <ul>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert2' id='likert2_1' value='1'/>
                    <label for='likert2_1' data-i18n="litw-motivationsurvey-answer2-1"></label>
                </div>    
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert2' id='likert2_2' value='2'/>
                    <label for='likert2_2' data-i18n="litw-motivationsurvey-answer2-2"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert2' id='likert2_3' value='3'/>
                    <label for='likert2_3' data-i18n="litw-motivationsurvey-answer2-3"></label>
                </div>    
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert2' id='likert2_4' value='4'/>
                    <label for='likert2_4' data-i18n="litw-motivationsurvey-answer2-4"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert2' id='likert2_5' value='5'/>
                    <label for='likert2_5' data-i18n="litw-motivationsurvey-answer2-5"></label>
                </div>
            </li>
        </ul>
    </div>
    
    <h3 data-i18n="litw-motivationsurvey-question3"></h3>
    <div id="question1-3" class="survey-question">
        <ul>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert3' id='likert3_1' value='1'/>
                    <label for='likert3_1' data-i18n="litw-motivationsurvey-answer3-1"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert3' id='likert3_2' value='2'/>
                    <label for='likert3_2' data-i18n="litw-motivationsurvey-answer3-2"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert3' id='likert3_3' value='3'/>
                    <label for='likert3_3' data-i18n="litw-motivationsurvey-answer3-3"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert3' id='likert3_4' value='4'/>
                    <label for='likert3_4' data-i18n="litw-motivationsurvey-answer3-4"></label>
                </div>
            </li>
            <li>
                <div class="likert_response">
                    <input type='radio' name='likert3' id='likert3_5' value='5'/>
                    <label for='likert3_5' data-i18n="litw-motivationsurvey-answer3-5"></label>
                </div>
            </li>
        </ul>
    </div>
</div>

<span class="bolded-blue bottom-warning" id="fill-motivational-survey" data-i18n='litw-motivation-warning'></span>
