Template for the pre-trial break page -->

<h2 class="bolded-blue">You are reading the Tarot Cards of Mixed Reality (XR) Tech</h2>

<p data-i18n="cards-prompt">To begin, simply click the cards and see how the cards fall for you. Answer as many tarot cards as you'd like. Press the arrow button when you're finished answering.</p>

<img style="display: inline; width: 30%; padding: 5px; border-radius: 20px;" src="../img/bffs.png"/>
<img style="display: inline; width: 30%; padding: 5px; border-radius: 20px;" src="../img/catalyst.png"/>
<img style="display: inline; width: 30%; padding: 5px; border-radius: 20px;" src="../img/forgotten.png"/>

<!-- TODO
Make cards clickable 
Give cards a pop-up
Remove extra pages
Save data
Make DB
-->

<!-- 
{{#if withTouch}}
	{{#each content.bodyWithTouch}}
		<p>{{{this}}}</p>
	{{/each}}
{{else}}
	{{#each content.body}}
		<p>{{{this}}}</p>
	{{/each}}
{{/if}}