<!--<h2 class="bolded-blue" data-i18n="litw-motivationsurvey-header"></h2>
<div id="questions">
    <h3 data-i18n="litw-motivationsurvey-question1"></h3>
    <div id="question1-1">
        <h4 data-i18n="litw-motivationsurvey-question1-1"></h4>
        <label for='science_1' data-i18n="litw-motivationsurvey-answer1-1"></label>
        <input type='radio' name='science' id='science_1' value='1'/>
        <input type='radio' name='science' id='science_2' value='2'/>
        <input type='radio' name='science' id='science_3' value='3'/>
        <input type='radio' name='science' id='science_4' value='4'/>
        <input type='radio' name='science' id='science_5' value='5'/>
        <label for='science_1' data-i18n="litw-motivationsurvey-answer1-2"></label>
        <br>
    </div>
    <div id="question1-2">
        <h4 data-i18n="litw-motivationsurvey-question1-2"></h4>
        <label for='science_1' data-i18n="litw-motivationsurvey-answer1-1"></label>
        <input type='radio' name='catneed' id='catneed_1' value='1'/>
        <input type='radio' name='catneed' id='catneed_2' value='2'/>
        <input type='radio' name='catneed' id='catneed_3' value='3'/>
        <input type='radio' name='catneed' id='catneed_4' value='4'/>
        <input type='radio' name='catneed' id='catneed_5' value='5'/>
        <label for='science_1' data-i18n="litw-motivationsurvey-answer1-2"></label>
        <br>
    </div>
    <div id="question2">
        <h3 data-i18n="litw-motivationsurvey-question2"></h3>
        <textarea id="othermotivation" rows="2" cols="50"/>
    </div>
</div>
-->