<h2 class="bolded-blue" data-i18n="litw-video-header"></h2>

<p data-i18n='litw-video-p1'></p>

<div style="text-align:center">
    <iframe id="ytplayer" class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/Jd2GK0qDtRg?enablejsapi=1&version=3&playerapiid=ytplayer" title="Future of Mixed Reality" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br>
<p data-i18n="litw-video-credit"></p> <a href="https://www.youtube.com/watch?v=Jd2GK0qDtRg&t=1s" target="_blank">[Link]</a>
